a {
  text-decoration: none;
  outline: none;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  border: none;
  max-width: none;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  font-size: 26px;
}

.btn-gray{
  height: 80px;
  line-height: 80px;
}

.btn-gray.focus {
  background: linear-gradient(to right, #f56b27, #ee4040);
  color: #fff;
}