.login{
  position: absolute;
  background: #0f0f0f url('./images/login-bg.png') no-repeat bottom;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: contain;
  font-size: 40px;
}
.login-form{
  margin-top: 15%;
}
.login .login-data{
  background-color: #0c0c0c;
  width: 25.520833333%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  border: solid 2px #2e2e2e;
  padding-left: 20px;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  font-size: 40px;
  box-sizing: border-box;
}
.login .submit-login{
  border-radius: 0;
  margin-top: 20px;
}
.login .virtual-keyboard{
  margin-top: 120px;
}
.login .key-item{
  width: 68px !important;
  height: 68px !important;
  line-height: 68px !important;
  vertical-align: middle;
  margin: 0 0 0 5px;
  padding: 0;
  border-radius: 4px;
  transition: transform 0.2s ease-out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.login .key-item.focus{
  background: #e0e0e0;
  color: #222222;
}
.login .key-del{
  background: #222222 url(./images/ic_backspace.png) no-repeat center;
}
.login .key-del.focus{
  background: #e0e0e0 url(./images/ic_backspace.png) no-repeat center;
}

.otp{
  margin-top: 8%;
}
.otp .text-center{
  width: 25.520833333%;
  margin: 0 auto;
  font-size: 30px;
  color: #fff;
}
.otp .submit-login.next{
  margin-top: 10px;
}
.otp .user-data{
  margin-top: 30px;
}
.otp input.otp-code{
  width: 110px;
  height: 110px;
  line-height: 106px!important;
  vertical-align: middle;
  background-color: #0c0c0c;
  border: 2px solid #2e2e2e;
  box-sizing: border-box;
  margin: auto 0 auto 16px;
  font-size: 60px!important;
  color: #fff;
  text-align: center;
  background: transparent;
}

.otp input.otp-code:first-child{
  margin-left: 0;
}
